option_settings:
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_ENV
    value: prod

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DATABASE_URL
    value: mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=5.7&charset=utf8mb4

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_ACCESS_KEY
    value: keppo

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_SECRET_KEY
    value: keppo-secret

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_BUCKET_NAME
    value: keppo-s3

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_S3_BUCKET_HOST
    value: keppo.com

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_CLOUDFRONT_HOST
    value: keppo.com

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_SECRET
    value: kapperino

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: CORS_ALLOW_ORIGIN
    value: ^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$
